
.form__input{
    padding: 12px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    color: $while;
    transition: background-color 0.2s ease-in;
    
    &::placeholder{
        color: $placeholder;
    }

    &:focus{
        background-color: rgba(255, 255, 255, 0.35);
    }

}
.form__priv{
    font-family: $font-main;
    font-size: 13px;
    color: $muted;
    line-height: 1.23;
    text-align: center;
    
    &--bottom{
        @include mediaTablet{
            grid-row: 4 / 5;
          }
    }

}
.form__btn{
    height: 50px;
    font-size: 16px;
    color: $while;
    font-weight: 700;
    text-align: center;
    background-color: $accent;
    padding: 12px 28px;
    transition: background-color 0.2s ease-in;
    
    &:hover{
        background-color: saturate($color: $accent, $amount: 20%)
    }
}